@import 'tailwindcss';
@import 'react-datepicker/dist/react-datepicker.css';

:root {
	--background: #ffffff;
	--foreground: #171717;
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--font-sans: var(--font-roboto);
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #ffffff;
		--foreground: #171717;
	}
}

h1,
h2 {
	font-family: var(--font-unbounded), sans-serif;
}

body {
	background: var(--background);
	font-family: var(--font-roboto), sans-serif;
}

/* FAQ page */
.faq-answer {
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out;
	opacity: 0;
}

.faq-answer.expanded {
	max-height: 200px;
	opacity: 1;
}

/* history/purchases page */
.details {
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out;
	opacity: 0;
}

.details.expanded {
	max-height: 200px;
	opacity: 1;
}
